.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}

.search input {
    background-color: #f1eded;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 300px;
}

.search svg {
    margin-left: 5px;
}