.articles-container {
    margin-left: 10px;
  }
  
.articles {
    background: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    overflow: hidden;
}
  
.articles img {
    text-align: center;
    border-radius: 20px;
    width: 95%;
    height: 650px;
}
  
  
.article-props {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.articles a {
    color: rgb(68, 68, 68);
    text-decoration: none;
    font-weight: bold;
}

.articles a:hover {
    text-decoration: underline;
}

.author {
    color:#3d5af1;
    font-weight: bold;
}

.color {
    color: #3d5af1;
}
 .color:hover {
    cursor: pointer;
    background-color: rgb(228, 222, 222) ;
 }

.no-color {
    background: #fff;
}

.no-color:hover {
    cursor: pointer;
    background-color: rgb(228, 222, 222) ;
}

.visible {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.comment-container {
    display: flex;
    justify-content: space-between;
}

.comments {
    background-color: #f1eded;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}
